*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Cascadia Code;
  background-color: aliceblue;
}

.container {
  display: grid;
  place-items: center;
  row-gap: 60px;
}

h1 {
  margin-top: 50px;
}

.search-box {
  margin-top: 50px;
}

.search-box .search-bar {
  width: 400px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
}

.search-box .search-bar:focus {
  outline: none;
}

.search-box .search-bar::placeholder {
  color: silver;
}

.location-weather-box {
  height: 500px;
  width: 650px;
  padding: 18px;
  border-radius: 8px;
  background-color: #171b1ce9;
  font-size: 22px;
  position: relative;
  color: #979999;
}

.location-weather-box div {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
  width: 250px;
  display: none;
}
